{% load static %}

<!DOCTYPE html>
<html lang="en">
   
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI CLASSIFICATION MUSIC</title>
    <link rel="stylesheet" href= "{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href= "{% static 'css/responsive.css' %}">
</head>

<body class = "app">

<header class="top"></header>


<main class="content">


<div class="box">


<div class="textBox">

    <h1 class="textTitle"><strong>TEXT BOX</strong></h1>



   <textarea class="textArea" cols="30" rows="5"></textarea>

    <!--<button class="buttonSend"><strong>SEND</strong></button>-->

    <input type="button" class="buttonSend" id="add" value="SEND" >


</div>


<div class="probability">

    <h1 class="classMusic">{{class_predicted}}</h1>

    <h2 class="conidenceLevel">{{confidence}}</h2>

    <strong class="ValueGraphic">{{probabilityText}}</strong>

    <canvas id="doughnut-chart" width="850" height="570"></canvas>

</div>


<div class="probabilityAllClass">

    <h1>PROBABILITIES OF ALL CLASSES (%)</h1>

    <canvas class="bar-chart-all-probabilities"></canvas>

</div>



<div class="statistics">

    <h1 class="TitleReport">STATISTIC REPORT</h1>

    <h1 class="Report_word_frequency">Percentage of words in relation to the average number of words (%)</h1>

    <canvas class="bar-chart-frequency-words"></canvas>

    <h1 class="Report_diferent_word_frequency">Diferents words in relation to the average number of diferent words (%) </h1>

    <canvas class="bar-chart-frequency-diferent-words"></canvas>

    <h1 class="Most_word_frequency">the most frequent words (%)</h1>

    <canvas class="bar-most-words-frequency"></canvas>


    
</div>



</div>

</main>

<footer class="footer"></footer>


<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>-->


<script src="{% static 'js/Chart.min.js' %}"></script>


<script>

var ctx = document.getElementsByClassName("bar-chart-all-probabilities")

var word_frequency = document.getElementsByClassName("bar-chart-frequency-words")

var diferent_word_frequency = document.getElementsByClassName("bar-chart-frequency-diferent-words")

var most_words_frequency = document.getElementsByClassName("bar-most-words-frequency")


var chartGraph = new Chart(ctx, {

    type:'bar',

    data: {
        labels:['BOSSA NOVA','FUNK','GOSPEL','SERTANEJO'],

        datasets: [

            {
                
                label:"teste",

                data: {{ probabilities }},

         

             
                backgroundColor: "#008000"
            
            
            
            
            
            
            }
        ]

    
    },

options: {


    title: {

        display:false,
        fontSize:20,
        text: "RELATÓRIO"
    },

    labels: {

        fontStyle: 'bold',

       
        
    },


    legend :{

        display:false
    },

    scales: {
    yAxes: [{
        display: true,
        
        gridLines: {
            display : false
           
        },
        ticks: {
            display: true,
            fontColor: 'white',
            beginAtZero:true,
            fontSize: 20
        }
    }],
    xAxes: [{
        gridLines: {
            display : false
        },
        ticks: {
            beginAtZero:true,
            fontColor: 'white',
            fontSize: 20
        }
    }]
},





}


})







var chartGraph = new Chart(word_frequency, {

                type:'bar',

                data: {
                    labels:['BOSSA NOVA','FUNK','GOSPEL','SERTANEJO'],

                    datasets: [

                        {
                            
                            label:"teste",

                            data: {{ quantity_words_statistics }},

                    

                        
                            backgroundColor: "#d522ecad"
                        
                        
                        
                        
                        
                        
                        }
                    ]


                },

                options: {


                title: {

                    display:false,
                    fontSize:20,
                    text: "RELATÓRIO"
                },

                labels: {

                    fontStyle: 'bold',

                
                    
                },


                legend :{

                    display:false
                },

                scales: {
                yAxes: [{
                    display: true,
                    
                    gridLines: {
                        display : false
                    
                    },
                    ticks: {
                        display: true,
                        fontColor: 'white',
                        beginAtZero:true,
                        fontSize: 20
                    }
                }],
                xAxes: [{
                    gridLines: {
                        display : false
                    },
                    ticks: {
                        beginAtZero:true,
                        fontColor: 'white',
                        fontSize: 20
                    }
                }]
                },





                }


                })









var chartGraph = new Chart(diferent_word_frequency, {

type:'bar',

data: {
    labels:['BOSSA NOVA','FUNK','GOSPEL','SERTANEJO'],

    datasets: [

        {
            
            label:"teste",

            data: {{ quantity_diferent_words_statistics }},

    

        
            backgroundColor: "#d522ecad"
        
        
        
        
        
        
        }
    ]


},

options: {


title: {

    display:false,
    fontSize:20,
    text: "RELATÓRIO"
},

labels: {

    fontStyle: 'bold',


    
},


legend :{

    display:false
},

scales: {
yAxes: [{
    display: true,
    
    gridLines: {
        display : false
    
    },
    ticks: {
        display: true,
        fontColor: 'white',
        beginAtZero:true,
        fontSize: 20
    }
}],
xAxes: [{
    gridLines: {
        display : false
    },
    ticks: {
        beginAtZero:true,
        fontColor: 'white',
        fontSize: 20
    }
}]
},





}


})







var chartGraph = new Chart(most_words_frequency, {

type:'bar',

data: {
    labels:{{frequenties_words.WORDS | safe}},

    datasets: [

        {
            
            label:"teste",

            data: {{frequenties_words.COUNT}},

    

        
            backgroundColor: "#d522ecad"
        
        
        
        
        
        
        }
    ]


},

options: {


title: {

    display:false,
    fontSize:20,
    text: "RELATÓRIO"
},

labels: {

    fontStyle: 'bold',


    
},


legend :{

    display:false
},

scales: {
yAxes: [{
    display: true,
    
    gridLines: {
        display : false
    
    },
    ticks: {
        display: true,
        fontColor: 'white',
        beginAtZero:true,
        fontSize: 20
    }
}],
xAxes: [{
    gridLines: {
        display : false
    },
    ticks: {
        beginAtZero:true,
        fontColor: 'white',
        fontSize: 20
    }
}]
},





}


})






new Chart(document.getElementById("doughnut-chart"), {
type: 'doughnut',
data: {

datasets: [
    {
    label: "Population (millions)",
    backgroundColor: ["#008000","transparent"],
    borderColor: 'transparent',
    data: {{probability}}
    }
]
},
options: {
title: {
    display: false,
    text: 'MEDIUM CONFIDENCE',
    fontStyle: 'bold',
    fontColor:"#008000",
    fontSize:"15"
},

legend:{
    display:false
},
elements: {
center: {
text: 'Red is 2/3 the total numbers',
color: '#008000', // Default is #000000
fontStyle: 'Arial', // Default is Arial
sidePadding: 20, // Default is 20 (as a percentage)
minFontSize: 20, // Default is 20 (in px), set to false and text will not wrap.
lineHeight: 25 // Default is 25 (in px), used for when text wraps
}
}
}
});


</script>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/buttons.js' %}"></script>

<!--<script src="{% static 'js/grafics.js'"></script>-->
    
</body>
</html>