
@media screen and (min-width: 0){


    .app {

        grid-template-rows: 50px 3800px 20px;
    }
    


    .box {

        display: grid;
    
        grid-gap: .10rem;
    
        grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
        grid-template-rows: 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5%;
        
        height: 100%;
        width: 100%;
    
    }



    #doughnut-chart {

        grid-row: 3 / 3;
    
        grid-column: 1 / 1;

    
    }

    

.textBox {

    background:linear-gradient(to right,rgb(10, 10, 10),rgb(30, 31, 30));

    grid-row: 1 / 9;

    grid-column: 3 / 9;


    display: grid;

    grid-template-columns: 100%;
    grid-template-rows: 10% 80% 10%;


    text-align: center;
  

    place-items: center;

    border-radius: 15px;

    
}

.probability {

   

    font-size: 10px;

    color: white;

    background:linear-gradient(to right,rgb(13, 14, 13),rgb(45, 46, 45));


    grid-row: 10 / 18;

 
    grid-column: 3 / 9;


    display: grid;


    grid-template-columns: 100%;
    grid-template-rows: 10% 10% 80%;

    align-items: center;

    justify-items: center;



    text-align: center;

    border-radius: 20px;

}

.probabilityAllClass {

  
    background:linear-gradient(to right,rgb(13, 14, 13),rgb(45, 46, 45));

    font-size: 10px;

    color: white;



    grid-row: 19 / 24;

 
    grid-column: 3 / 9;


    text-align: center;

    border-radius: 20px;
}


.statistics {

  

    background:linear-gradient(to right,rgb(13, 14, 13),rgb(45, 46, 45));

    color: white;

    font-size: 10px;

    grid-column: 3 / 9;

    grid-row: 25 / 39;

   

    grid-template-columns: 100%;

    grid-template-rows: 2.5% 2.5% 30% 2.5% 30% 2.5% 30%;


    text-align: center;

    border-radius: 20px;
}


.ValueGraphic {

    grid-row: 3 / 3;

    grid-column: 1 / 1;

    font-size: 50px;

    

    color:#008000;

}


.conidenceLevel {

    grid-row: 2 / 2;

    grid-column: 1 / 1;

    font-size: 20px;

    

    color:#008000;

}


.classMusic {

    grid-row: 1 / 1;

    grid-column: 1 / 1;

    font-size: 30px;

    

    color:white;

}




.TitleReport {

    grid-column: 1 / 1;

    grid-row: 1 / 1;


}

.Report_word_frequency {

    grid-column: 1 / 1;

    grid-row: 2 / 2;

    font-size: 17px;

    color:#d522ecad;


}


.bar-chart-frequency-words {

    grid-column: 1 / 1;

    grid-row: 3 / 3;

    
}



.Report_diferent_word_frequency {

    grid-column: 1 / 1;

    grid-row: 4 / 4;

    font-size: 17px;

    color:#d522ecad;

}


.bar-chart-frequency-diferent-words {

    grid-column: 1 / 1;

    grid-row: 5 / 5;


}




.Most_word_frequency {

    grid-column: 1 / 1;

    grid-row: 6 / 6;

    font-size: 17px;

    color:#d522ecad;

}


.bar-most-words-frequency {

    grid-column: 1 / 1;

    grid-row: 7 / 7;


}

    
}

@media screen and (min-width: 1300px){


    .app {

        grid-template-rows: 50px 1700px 20px;
    }
    


.box {

    display: grid;

    grid-gap: .50rem;

    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    
    height: 100%;
    width: 100%;

}






.textBox {

    

    background:black;

    grid-row: 1 / 7;

    grid-column: 2 / 5;


    display: grid;

    grid-template-columns: 100%;
    grid-template-rows: 10% 80% 10%;


    text-align: center;
  

    place-items: center;

    border-radius: 15px;

    
}

.probability {

   

    font-size: 10px;

    color: white;

    background:linear-gradient(to right,rgb(13, 14, 13),rgb(45, 46, 45));


    grid-row: 8 / 14;

    grid-column: 2 / 5;

    display: grid;


    grid-template-columns: 100%;
    grid-template-rows: 10% 10% 80%;

    align-items: center;

    justify-items: center;


    text-align: center;

    border-radius: 20px;


}

#doughnut-chart {

    grid-row: 3 / 3;

    grid-column: 1 / 1;


}

.ValueGraphic {

    grid-row: 3 / 3;

    grid-column: 1 / 1;

    font-size: 50px;

    

    color:#008000;

}


.conidenceLevel {

    grid-row: 2 / 2;

    grid-column: 1 / 1;

    font-size: 20px;

    

    color:#008000;

}


.classMusic {

    grid-row: 1 / 1;

    grid-column: 1 / 1;

    font-size: 30px;

    

    color:white;

}




.probabilityAllClass {

   

    background:linear-gradient(to right,rgb(13, 14, 13),rgb(45, 46, 45));

    font-size: 10px;

    color: white;

    grid-column: 6 / 10;

    grid-row: 1 / 5;

    text-align: center;

    border-radius: 20px;
}


.statistics {

  
    background:linear-gradient(to right,rgb(13, 14, 13),rgb(45, 46, 45));

    color: white;

    font-size: 10px;

    grid-column: 6 / 10;

    grid-row: 5 / 19;


    grid-template-columns: 100%;

    grid-template-rows: 2.5% 2.5% 30% 2.5% 30% 2.5% 30%;


    display: grid;

    text-align: center;

    border-radius: 20px;
}


.TitleReport {

    grid-column: 1 / 1;

    grid-row: 1 / 1;


}

.Report_word_frequency {

    grid-column: 1 / 1;

    grid-row: 2 / 2;

    font-size: 17px;


    
    color:#d522ecad;


}


.bar-chart-frequency-words {

    grid-column: 1 / 1;

    grid-row: 3 / 3;

    


}



.Report_diferent_word_frequency {

    grid-column: 1 / 1;

    grid-row: 4 / 4;

    font-size: 17px;

   color:#d522ecad;


}


.bar-chart-frequency-diferent-words {

    grid-column: 1 / 1;

    grid-row: 5 / 5;


}




.Most_word_frequency {

    grid-column: 1 / 1;

    grid-row: 6 / 6;

    font-size: 17px;

    color:#d522ecad;


}


.bar-most-words-frequency {

    grid-column: 1 / 1;

    grid-row: 7 / 7;


}

 
}